
body
{
 margin-left: 20%;
 margin-right: 20%;
}

.heading{
  display: flex;justify-content: space-between;
}   
.heading2{
 padding: 20px;margin: 25%; display: inline-block; justify-content: center;
 margin-top: 10px;
}

.card{
  display: flex;justify-content: space-between;

}
.card1{
   color: brown; font-size: 30px;
   padding-left: 5px;
}

.card2{
  color: red;  text-decoration: line-through;  font-size: 25px;
}
.align-left{ float: left; font-size:70px ;  }

.align-right{ padding-top: 70px;}

.bg-text{
  color: red;
  font-weight: bold;
  border: 3px solid lightcoral;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30%;
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}
.main{
  border: 3px solid lightpink;
  border-radius: 20px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2) ;
  
}